<% const currentProductId = product_details_ejs.product_id; // Geçerli ürünün ID'si%>
    <div class="detail-page">
        <div class="detail-datas">
            <div class="line"></div>
            <div class="header_name">
                <h1><%= product_details_ejs.product_name %></h1>
            </div>
            <div class="line"></div>
            <div class="product_description">
                <%-product_details_ejs.product_description%>
            </div>
            <div class="line"></div>
            <div class="alt_details">
                <div class="price">
                    <% if (product_details_ejs.product_discount == true) { %>
                        <h2 style="margin-left: 20px;height: 37px; width: 15vh;display: inline-block;color: red;"><s><%= product_details_ejs.product_price %></s>₺</h2>
                        <span style="color: yellow; font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><%=product_details_ejs.product_discount_price%>₺<i class="fa-solid fa-arrow-trend-down"></i></span>
                        <h1 style="color: green; margin-right: 20px; width: 15vh;display: inline-block;float: right;"><%= product_details_ejs.product_price-product_details_ejs.product_discount_price %>₺</h1>
                        <div class="line"></div>
                        <% } else { %>
                        <h1 style="color: green; margin-right: 20px; width: 15vh;display: inline-block;"><%= product_details_ejs.product_price%>₺</h1>
                        <div class="line"></div>
                        <% } %>
                </div>
                <div style="margin-top: 50px;" class="buttons">
                    <button class="add_to_cart">Add Cart</button>
                    <button class="buy_button">Buy</button>
                </div>
            </div>
        </div>
        <div id="detail-page-vertical-line" class="vertical-line"></div>
        <div class="detail-img-main">
            <div class="detail-img">
                <img src="/img/<%=product_details_ejs.product_image%>" alt="Image Not Found" class="image">
            </div>
        </div>
            <div id="detail-page-vertical-line" class="vertical-line" style="position: relative;float: right;right: 370px;"></div>
        <div class="suggestion">
            <% for( let index = 0; index < 1; index++ ) { %>
                    <% if (product_data.product_id == currentProductId) { %>
                      <% if (product_data.length == 1) { %>
                        <% break; %>
                      <% } else { %>
                        <% index = index+1 %>
                        <% } %>
                    <% } %>
                    <div style="margin-left: 20px;" class="card-border">
                        <div class="card-image">
                            <img src="/img/<%=product_data.product_image%>" alt="Image not found">
                        </div> <div class="line"></div>
                        <div class="header-string">
                            <h3><%=product_data.product_name%></h3>
                        </div>
                        <div class="description-string">
                            <h4><%=product_data.product_mini_description%></h4>
                        </div><div class="line"></div>
                        <div class="card-button-area">
                            <% if (product_data.product_discount == true) { %>
                                <span style="position: relative; top: 12px;left: 10px; color: orangered;font-size: xx-large;"><i class="fa-solid fa-percent"></i></span>
                            <% } %>
                            <a class="button" href="/products/<%=product_data.product_id%>">Go Details></a>
                        </div>
                    </div>    
            <% } %>
         </div>
    </div>